TD {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff9900
}
.t1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.t2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.tnav {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.tnav:hover {
	COLOR: black; TEXT-DECORATION: underline
}
.tnav2 {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.tnav2:hover {
	COLOR: white; TEXT-DECORATION: underline
}
.t3 {
	FONT-SIZE: 9pt; COLOR: black
}
UNKNOWN {
	COLOR: gray
}
A {
	FONT-SIZE: 9pt; COLOR: #000000
}
.colmenu {
	TEXT-DECORATION: none
}
A.colmenu:hover {
	TEXT-DECORATION: none
}
A.t4 {
	TEXT-DECORATION: underline
}
A.menuitem {
	TEXT-DECORATION: underline
}
.12v {
	FONT-SIZE: 9pt
}
P.MsoNormal {
	TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt; TEXT-ALIGN: justify
}
LI.MsoNormal {
	TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt; TEXT-ALIGN: justify
}
DIV.MsoNormal {
	TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt; TEXT-ALIGN: justify
}
SPAN.MsoEndnoteReference {
	VERTICAL-ALIGN: super
}
P.MsoEndnoteText {
	FONT-SIZE: 14pt; MARGIN: 0cm 0cm 0pt; LAYOUT-GRID-MODE: char; FONT-FAMILY: "Times New Roman"
}
LI.MsoEndnoteText {
	FONT-SIZE: 14pt; MARGIN: 0cm 0cm 0pt; LAYOUT-GRID-MODE: char; FONT-FAMILY: "Times New Roman"
}
DIV.MsoEndnoteText {
	FONT-SIZE: 14pt; MARGIN: 0cm 0cm 0pt; LAYOUT-GRID-MODE: char; FONT-FAMILY: "Times New Roman"
}

.area {
	LINE-HEIGHT: 10pt
}
A.td {
	FONT-SIZE: 12px; COLOR: #465f87
}
TR {
	FONT-SIZE: 12px; COLOR: #465f87
}
FORM {
	FONT-SIZE: 12px; COLOR: #465f87
}
SELECT {
	FONT-SIZE: 12px; COLOR: #465f87;
    margin-left: 0px;
}
INPUT {
	FONT-SIZE: 12px; COLOR: #465f87
}
P {
	FONT-SIZE: 12px; COLOR: #465f87
}
TABLE {
	FONT-SIZE: 12px; COLOR: #465f87
}
.font {
	FONT-SIZE: 12px; COLOR: #465f87
}
TD.etitle {
	FONT-SIZE: 12px
}
TABLE.etitle {
	FONT-SIZE: 12px
}
.font {
	FONT-SIZE: 12px
}
.title {
	FONT-SIZE: 14px
}
.contenttitle
{
	font-family:ËÎÌå;
	font-size:16px;
	font-weight:bold
}
.fwhite {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.f1 {
	FONT-SIZE: 12px; COLOR: #465f87
}
A:link {
	FONT-SIZE: 12px; COLOR: #465f87
}
A:visited {
	FONT-SIZE: 12px; COLOR: #993300
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.mirror:link {
	FONT-SIZE: 12px; COLOR: #000000
}
A.mirror:visited {
	FONT-SIZE: 12px; COLOR: #000000
}
A.mirror:hover {
	FONT-SIZE: 12px; COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.con:link {
	FONT-SIZE: 12px; COLOR: #465f87; TEXT-DECORATION: none
}
A.con:visited {
	FONT-SIZE: 12px; COLOR: #993300; TEXT-DECORATION: none
}
A.con:hover {
	FONT-SIZE: 12px; COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.cc:link {
	COLOR: #465f87
}
A.cc:visited {
	FONT-SIZE: 12px; COLOR: #465f87; TEXT-DECORATION: none
}
A.cc:hover {
	FONT-SIZE: 12px; COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.gn:link {
	COLOR: #465f87; TEXT-DECORATION: underline
}
A.gn:visited {
	COLOR: #465f87; TEXT-DECORATION: underline
}
A.gn:hover {
	COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.title:link {
	FONT-SIZE: 12px; COLOR: #465f87; TEXT-DECORATION: none
}
A.title:visited {
	FONT-SIZE: 12px; COLOR: #465f87; TEXT-DECORATION: none
}
A.title:hover {
	COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.title4:link {
	COLOR: #cf3000; TEXT-DECORATION: none
}
A.title4:visited {
	COLOR: #cf3000; TEXT-DECORATION: none
}
A.title4:hover {
	COLOR: #cf3000; TEXT-DECORATION: none
}
A.title2:link {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.title2:visited {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.titleqz:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.titleqz:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu1:link {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.menu1:visited {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.title5:link {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.title5:visited {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.title5:hover {
	COLOR: #ff7f2c; TEXT-DECORATION: none
}
A.detail:link {
	COLOR: #8f2b01
}
A.detail:visited {
	COLOR: #8f2b01
}
A.it_class_name:link {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.it_class_name:visited {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.it_class_name:hover {
	COLOR: #0033cc; TEXT-DECORATION: none
}
.f {
	LINE-HEIGHT: 16px
}
.formfix {
	MARGIN: 0px
}
.bc {
	BACKGROUND-COLOR: #eeeeee
}
LI {
	LIST-STYLE-TYPE: square
}
LI.two {
	LIST-STYLE-TYPE: circle
}
LI.three {
	LIST-STYLE-TYPE: decimal
}
A.title3:link {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.title3:visited {
	COLOR: #465f87; TEXT-DECORATION: none
}
A.title3:hover {
	COLOR: #ff7f2c; TEXT-DECORATION: none
}
TD {
	LINE-HEIGHT: 14pt
}
.f2 {
	FONT-SIZE: 12px
}
.font {
	FONT-FAMILY: "ËÎÌå"
}
.campl {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 16px
}
.f7 {
	FONT-SIZE: 7px
}
#memberlogin {
	Z-INDEX: 1; LEFT: 20px; VISIBILITY: hidden; WIDTH: 296px; POSITION: absolute; TOP: 84px; HEIGHT: 204px
}
#hrlogin {
	Z-INDEX: 1; LEFT: 20px; VISIBILITY: hidden; WIDTH: 296px; POSITION: absolute; TOP: 84px; HEIGHT: 204px
}
.select {
	BORDER-RIGHT: buttonface 0px inset; BORDER-TOP: buttonface 0px inset; FONT: icon; BORDER-LEFT: buttonface 0px inset; WIDTH: 100px; CURSOR: default; LINE-HEIGHT: 10pt; BORDER-BOTTOM: buttonface 0px inset
}
.selected {
	BORDER-RIGHT: buttonface 0px inset; PADDING-RIGHT: 0px; BORDER-TOP: buttonface 0px inset; PADDING-LEFT: 0px; BACKGROUND: window; PADDING-BOTTOM: 0px; FONT: icon; BORDER-LEFT: buttonface 0px inset; LINE-HEIGHT: 10pt; PADDING-TOP: 0px; BORDER-BOTTOM: buttonface 0px inset
}
.selectTable {
	BORDER-RIGHT: buttonhighlight 2px inset; BORDER-TOP: buttonhighlight 2px inset; BACKGROUND: buttonface; BORDER-LEFT: buttonhighlight 2px inset; WIDTH: 100%; LINE-HEIGHT: 10pt; BORDER-BOTTOM: buttonhighlight 2px inset; HEIGHT: 100%
}
.option {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; FONT: icon; WIDTH: 100%; PADDING-TOP: 1px
}
.dropDown {
	BORDER-RIGHT: windowtext 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: windowtext 1px solid; PADDING-LEFT: 0px; BACKGROUND: window; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: windowtext 1px solid; WIDTH: 100%; LINE-HEIGHT: 10pt; PADDING-TOP: 0px; BORDER-BOTTOM: windowtext 1px solid; POSITION: absolute
}
.select .button {
	BORDER-RIGHT: buttonhighlight 2px outset; PADDING-RIGHT: 0px; BORDER-TOP: buttonhighlight 2px outset; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonhighlight 2px outset; WIDTH: 16px; LINE-HEIGHT: 10pt; PADDING-TOP: 0px; BORDER-BOTTOM: buttonhighlight 2px outset; FONT-FAMILY: webdings; HEIGHT: 5px
}
.hctitle {
	FONT-SIZE: 14px
}
.ttt {
	VISIBILITY: hidden; POSITION: absolute; HEIGHT: 0px
}
#ContentTitle
{
	font-size: 16px;
	font-weight: bold;
	font-family: Á¥Êé;
	
}
.allAlign
{
 text-align :center;
	}
	
	.SelectedRowStyle td   
{   
    background-color: #ffff66;   
} 

.RowStyle td, .AltRowStyle td,.SelectedRowStyle td, .EditRowStyle td 
{   
    padding: 5px;   
    border:#9999FF 1px solid;      
}   
.HeaderStyle th
{
   background-color: #CCCCFF;  
  	border:#9999FF 1px solid; 
  	
}
.HeaderStyle td
{
   background-color: #CCCCFF;  
  	border:#9999FF 1px solid; 
  	
}
.HeaderStyle 
{
   background-color: #CCCCFF;  
  	border:#9999FF 1px solid; 
  	
}
.RowStyle td   
{   
    background-color: #ffffff;   
}   
.AltRowStyle td   
{   
    background-color: #CCCCFF;   
} 