<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="cn.cnic.datapub" />
	<!-- Root Context: defines shared resources visible to all other web components -->
		<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:rdb.properties</value>
			</list>
		</property>
	</bean>
	
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	<import resource="classpath:spring/spring-druid.xml"/>
	<import resource="classpath:spring/spring-jdbc.xml"/>
	<!-- <import resource="classpath:spring/spring-solr.xml"/> -->
	<import resource="classpath:spring/spring-rabbitmq.xml"/>
	<import resource="classpath:spring/spring-integration.xml"/>
	<import resource="classpath:spring/spring-scheduler.xml"/>
	<import resource="classpath:spring/spring-aop.xml"/>
	<import resource="classpath:spring/spring-utils.xml"/>
</beans>
